:root {
  --background-color: #E2E2E2;
  --player1-color: #4B3B86;
  --player2-color: #EFAB30;
  --text-color: #CCCCCC;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: clamp(25px, 3.5vw, 30px);
  display: flex;
  align-items:center;
  justify-content: center;
}

.canvas {
  width: min(60svh, calc(100vw));
  aspect-ratio: 1/1;
}

.player1 {
  color: var(--player1-color);
}

.player2 {
  color: var(--player2-color);
}